<table>
    <tr>
        
            <div>
               
               <td style="vertical-align:middle ; ">  The Foodies Express is an online and mobile food ordering system which 
                we have developed for restaurant owners and food lovers. 
                Through The Foodies Express we are helping customers to discover the best restaurants in city.
                 If you are restaurant owner, you can easily register your restaurant and upload restaurant menu to start receiving online orders through this fast growing portal without any cost.
               </td>
        </div>
        
    </tr>
    <tr>
        <td> <img src="/assets/images/bottom.png" style=" width: 100%; height:50% ;"></td>
    </tr>
</table>

