<br>
<button class="btn btn-primary" (click)=" viewAllItems()">All Items</button>
<div *ngFor="let i of items" style="background-color:rgb(244, 166, 138);"  class="border border-dark">
    <table>
        <tr>
            <td> <img src="/assets/images/{{i.imageName}}" alt=" Item image" width="90px" height="90px">
            </td>
            <td>
                <p>{{i.itemId}}</p>
                <h2 >{{i.itemName}} </h2>
                <hr />
                <p> {{i.category}} </p>
                <br>
                <h4>{{i.cost}}₹</h4>
                <button class="btn btn-primary" (click)=" addItem(i.itemId)">Add to Restaurant</button>
                <button type="submit" class="btn btn-primary" (click)="onUpdate()">Update</button>
            </td>
        </tr>
        <hr>
    </table>
</div>
<br>