<button  class="btn btn-primary" (click)="viewAllRestaurants()">All Restuarants</button>
<div *ngFor="let r of allRestaurants" style="background-color:rgb(244, 166, 138);"  class="border border-dark">
    <table>
        <tr><img src="/assets/images/{{r.imageName}}" alt=" Restaurant image" width="150px" height="150px">
            <td> 
            </td>
            <td><p>{{r.restaurantId}}</p>
                <h2>{{r.restaurantName}} </h2>
                <hr />
                <p> </p>
                <p>{{r.city}}</p>
                <p>{{r.state}}</p>
                <br>
            </td>
        </tr>
        <hr>
        <button  class="btn btn-primary" (click)=" addItem(r.restaurantId)">
            Add Items</button>
    </table>
</div>
<hr/>