<div style="width: 50%;background-color: rgb(246, 125, 82);">
    <form style="width: 50%;margin-left: 25%;" (ngSubmit)=" onSubmitItem()" class="form-horizontal" #myForm="ngForm">
        <div class="mb-3">
            <label class="form-label">Item Name</label>
            <input type="text" class="form-control" [(ngModel)]="i.itemName" id="imageName" name="imageName">
        </div>
        <div class="mb-3">
            <label class="form-label">category</label>
            <input type="text" class="form-control" [(ngModel)]="i.category" id="category" name="category">
        </div>
        <div class="mb-3">
            <label class="form-label">cost</label>
            <input type="number" class="form-control" [(ngModel)]="i.cost" id="cost" name="cost">
        </div>
        <div class="mb-3">
            <label class="form-label">Image Name</label>
            <input type="text" class="form-control" [(ngModel)]="i.imageName" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<br>
<app-item-view></app-item-view>